@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    height:100vh;
    background-image: linear-gradient(to right,#F2D0A7,#F29F80);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    background-image: linear-gradient(to bottom,#A3281C,#5e120b);
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: auto;
}

nav{
    padding: 10px;
    gap: 15px;
    display: flex;
    justify-content: center;
}
nav > a{
    font-size: 0.8em;
    color: white;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
}
nav > a:hover{
    background-color: #F29F80;
    text-decoration: none;
}

main{
    background-color: rgba(255, 255, 255, 0.671);
    padding: 10px;
    margin: auto;
    min-width: 300;
    max-width: 360px;
    box-shadow: 10px1px 10px rgba(0, 0, 0, 0.623);
}
main#ref{
    border-radius: 10px;
}

p{
    margin-top: 0;
    margin-bottom: 2;
    color: rgba(0, 0, 0, 0.788);
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    text-indent: 20px;
    font-size: 700;
}
p.prev{
    color: white;
    font-size: 1.15em;
    text-align: center;
    margin: auto;
    padding: 25px;
    max-width: 400px;
}

p.info {
    padding-top: 10px;
    font-size: 0.8em;
    text-align: center;
    color: rgb(78, 75, 75);
}


h1{
    color: #A3281C;
    text-shadow: 2px 2px 5px #5e120b62;
    font-family: "Lugrasimo", cursive;
    font-size: 1.8em;
    text-align: center;
}
h1.topo{
    font-size: 2em;
    color: white;
    margin: 0px;
    margin-bottom: 0;
    padding-bottom: 0;;
    padding-top: 50px;
}

h2{
    color :#88231a;
    text-shadow: 2px 2px 5px #5e120b2d;
    font-family: "Lugrasimo", cursive;
    font-size: 1.7em;
    text-align: center;
}

h3{
    color: #5e120b;
    font-family: "Italianno", cursive;
    font-size: 4em;
    text-align: center;
}

li{
    color: #5e120b;
}

img {
    width: 370px;
}

img.sla {
    margin-top: 0;
    padding-top: 0;
    width: 50px;
}

div.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
}

div.video {
    background-color: #250704;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

a{
    color: #5e120b;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #250704;
}